/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

header h1 {
  margin: 0;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  flex-flow: row;
  font-size: 18px;
}

nav ul li:hover {
  background-color: #a2c2e5;

}

.content {
  background-image: url('music.jpg');
  /* background-size: 100%; */
  height: 100vh;
  background-position: 100%;

  color: #fff;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  padding: 100px 20px;
}

.content h2 {
  margin-bottom: 20px;
  font-size: xx-large;
}

.content p {
  margin-bottom: 20px;
  font-size: x-large;
  text-align: left;
}

.about {
  background-image: url('About.jpg');
  height: 100vh;
  background-position: 100%;

  color: #180808c9;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  padding: 100px 20px;
}

.about h2 {
  margin-bottom: 20px;
}


[class*="col-"] {
  padding: 1rem;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

.review-wrap.active {
  transform: unset !important;
}


.review-wrap {
  width: 100%;
  padding: 1rem;
  background-color: var(--white);
  border-radius: 3rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.review-wrap.active {
  transform: scale(1.2) !important;
}

.bg-img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-img-fixed {
  background-attachment: fixed;
}

.review-img {
  transform: translateX(100%);
  bottom: -2.5rem;
  width: 5rem;
  height: 5rem;
  border-radius: 2rem;
  box-shadow: rgba(126, 4, 20, 0.2) 0px 7px 29px 0px;
}

.services {
  background-image: url('Services.jpg');
  height: 100vh;
  background-position: center;

  color: #180808c9;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  padding: 100px 20px;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.card:hover {
  color: aquamarine;
}

.list {
  list-style: inside;
  text-align: left;
  margin-left: 35px;
  font-weight: 600;
}

.h3class {
  font-size: 30px;
  color: aliceblue;
}

.listclass {
  list-style-type: square;
  /* font-size: 18px !important; */
  text-align: left;
  margin-left: 50px;
  color: #fff;
  margin-top: 10px;
  margin-bottom: 10px;
}

.listclass1 {
  margin-top: 10px;
  margin-bottom: 10px;
  text-shadow: #a2c2e5;
  font-weight: 700px !important;
}
